<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto py-4 py-lg-0">
        {% for item in Model.Items %}
        {{ item | shape_render }}
        {% endfor %}
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" href="/Admin">Admin</a>
        </li>
    </ul>
</div>