<div class="erp-content-summary">
    <h3>@Model.ContentItem.DisplayText</h3>
    <p class="erp-summary-meta">@Model.ContentItem.ContentType</p>
    <div class="erp-summary-actions">
        @await DisplayAsync(Model.Actions)
    </div>
</div>