<div style="text-align:center;margin-top:16px;">
    <a asp-controller="Registration" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="forgot-link">@T["Register as a new user"]</a>
</div>
