<nav class="erp-navbar">
    <div class="erp-navbar-brand">
        @await DisplayAsync(New.TenantBranding())
    </div>
    
    <div class="erp-navbar-nav">
        @await DisplayAsync(New.Navigation(MenuName: "admin"))
    </div>
    
    <div class="erp-navbar-right">
        @await DisplayAsync(New.NavbarUserMenu())
    </div>
</nav>