@inject OrchardCore.Settings.ISiteService SiteService
@{
    var site = await SiteService.GetSiteSettingsAsync();
}
<div class="erp-tenant-branding">
    <span class="erp-tenant-logo"></span>
    <span class="erp-tenant-name">@site.SiteName</span>
</div>
