<div class="dropdown user-menu">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @await DisplayAsync(Model.CurrentUser)
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        @await DisplayAsync(Model.UserMenuItems)
    </div>
</div>